.subj_name{
color: #000 !important;
}
.button-list a img{
	box-shadow: 1px 3px 23px grey;
    border-radius: 10px;
    transform: scale(1.3,1.3);
    }
    
    .own-design-inline{
	    display: flex;
    justify-content: center;
}
.own-design-list-items{padding: 0 22px 0 0;}
.nav-tabs > li > a{
background:none !important;
}
#settabs > li.active{
     border-bottom:3px solid deepskyblue;
}
#settabs li a{
color:black;
background:none !important;
}
#settabs li{
opacity:0;
}
.tab-content .tab-pane .active{
 border-bottom:3px solid deepskyblue;
}
#settabsselected li.active{
 border-bottom:3px solid deepskyblue;
}
 .design_mock_test{
/* height: 420px; */
max-height: 420px !important;
} 