files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            0 * * * * root wget -o -q http://skygettesting-env.eba-qhqqzjab.ap-south-1.elasticbeanstalk.com/rest/student/v1/calculatecomparativeanalytics1
            */5 * * * * root wget -o -q http://skygettesting-env.eba-qhqqzjab.ap-south-1.elasticbeanstalk.com/rest/student/schedule
            0 0 * * * root wget -o -q http://skygettesting-env.eba-qhqqzjab.ap-south-1.elasticbeanstalk.com/rest/student/checkSubscriptionExpire
            0 14 * * * root wget -o -q http://skygettesting-env.eba-qhqqzjab.ap-south-1.elasticbeanstalk.com/rest/automatic/sendsmsforunattempted
            0 14 * * * root wget -o -q http://skygettesting-env.eba-qhqqzjab.ap-south-1.elasticbeanstalk.com/rest/automatic/checkcomparativeanalyticsmail

    

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/mycron.bak"